<div class="modal fade" id="newExperienceModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Add Experience</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <%= render "modal/experience/form", profile: profile, experience: Experience.new %>
      </div>

    </div>
  </div>
</div>